# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
.build/

# Virtual envs (Windows + Unix)
venv/
.env/
.venv/
env/
ragoffer/Lib/
ragoffer/Scripts/
ragoffer/pyvenv.cfg
rag/
# IDE
.vscode/
.idea/

faiss_index/